# 存储巡查数据
mysql:
  dsn: root:root@tcp(127.0.0.1:23306)/inspect?charset=utf8mb4&multiStatements=true&collation=utf8mb4_general_ci&parseTime=True&loc=UTC&timeout=10s&readTimeout=5s&writeTimeout=5s
# 查询的监控数据
prometheus:
  - name: prometheus-dev
    addr: http://127.0.0.1:9090
    accessId:
    accessSecret:
# 需要巡查的应用名
apps:
  - app-api
# 查询的监控指标
metrics:
  - name: PodCount
    desc: 实例数
    query: count(kube_pod_info{namespace="default",pod=~"%s-\\w{8,}-\\w{4,}"})
    type: prometheus
    typeName: prometheus-dev
    targetType: svc
    aggrFunc: max
  - name: CpuUsage
    desc: 使用Cpu核心数
    query: node_namespace_pod_container:container_cpu_usage_seconds_total:sum_irate{namespace="default",pod=~"%s-\\w{8,}-\\w{4,}"}
    type: prometheus
    typeName: prometheus-dev
    targetType: svc
    aggrFunc: max
  - name: CpuRequest
    desc: CpuRequest
    query: kube_pod_container_resource_requests{resource="cpu",namespace="default", pod=~"%s-\\w{8,}-\\w{4,}"}
    type: prometheus
    typeName: prometheus-dev
    targetType: svc
    aggrFunc: max
  - name: CpuLimit
    desc: CpuLimit
    query: kube_pod_container_resource_limits{resource="cpu", namespace="default", pod=~"%s-\\w{8,}-\\w{4,}"}
    type: prometheus
    typeName: prometheus-dev
    targetType: svc
    aggrFunc: max
  - name: CpuLimit
    desc: CpuLimit
    query: kube_pod_container_resource_limits{resource="cpu", namespace="default", pod=~"%s-\\w{8,}-\\w{4,}"}
    type: prometheus
    typeName: prometheus-dev
    targetType: svc
    aggrFunc: max
  - name: MemUsage
    desc: 使用内存
    query: sum(container_memory_usage_bytes{pod=~"%s-\\w{8,}-\\w{4,}"}) by (pod)
    type: prometheus
    typeName: prometheus-dev
    targetType: svc
    aggrFunc: max
  - name: MemRequest
    desc: MemRequest
    query: kube_pod_container_resource_requests{resource="memory", namespace="default", pod=~"%s-\\w{8,}-\\w{4,}"}
    type: prometheus
    typeName: prometheus-dev
    targetType: svc
    aggrFunc: max
cron:
  prometheus:
    enableDistributedTask: false
    enableImmediatelyRun: false
    enableSeconds: true
    spec: "* * * * * *"
    delayExecType: queue


